#html,
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 1rem;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo {
  padding-left: 30px;
  margin: 10px;
  margin-right: 1300px;
  width: 141px;
  height: 32px;
}

.writeBtn {
  transition: 0.2s;
  margin-right: 30px;
  width: 120px;
  height: 45px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background-color: #395bb4;
  color: #fff;
  cursor: pointer;
}

.writeBtn:hover {
  background-color: white;
  border: 1px solid #395bb4;
  color: #395bb4;
  transition: 0.2sx;
}

.profile > h6 {
  display: inline;
  color: #395bb4;
}

.name {
  font-size: 20px;
}
.sla {
  font-size: 16px;
}

/* maincontent */
.maincontent {
  margin-top: 100px;
  width: 100%;
  height: 443px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.maintxt {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #000;
  position: absolute;
  top: 90px;
  left: 130px;
}

.maincontentlogo {
  width: 227px;
  height: 52px;
  position: absolute;
  bottom: 120px;
  left: 130px;
}

.right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.maincontentimg {
  width: 390px;
  height: 275px;
  position: absolute;
  right: 100px;
}

/* VARI */
.vari {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
}

.mainmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 140px;
}

.mainmenu > div {
  margin-right: 80px;
  font-weight: 600;
  font-size: 26px;
  color: #b1b1b1;
  cursor: pointer;
  transition: 0.4s;
}

.mainmenu > .current {
  color: #395bb4;
}

.tab-content {
  display: none;
  width: 1218px;
  flex-wrap: wrap;
}

.hashtag {
  margin-top: 80px;
}

.hashtag > a {
  font-weight: 600;
  font-size: 18px;
  color: #474bff;
  background-color: #fff;
  margin-right: 40px;
  padding: 15px 30px;
  border-radius: 50px;
  border: 2px solid #474bff;
}

.hashtag > .web {
  color: #fff;
  background-color: #474bff;
}

/* LIST */
.listbox {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.current {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.li1 {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 264px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.2);
  animation: fadein 5s ease 3s;
  -webkit-animation: fadein 1s;
}

.screenshot {
  width: 210px;
  height: 140px;
  border-radius: 10px;
  margin-top: 27px;
  margin-left: 27px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  margin-left: 27px;
}

.teamname {
  margin-top: 10px;
  margin-left: 200px;
  font-weight: 500;
  font-size: 14px;
  color: #646464;
}
