#html,
body {
  width: 100%;
  height: 120vh;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  outline: 0;
  border: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 1rem;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo {
  padding-left: 30px;
  margin: 10px;
  margin-right: 1150px;
  width: 141px;
  height: 32px;
}

.writeBtn {
  transition: 0.2s;
  margin-right: 40px;
  width: 120px;
  height: 45px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  background-color: #395bb4;
  color: #fff;
  cursor: pointer;
}

.writeBtn:hover {
  background-color: white;
  border: 1px solid #395bb4;
  color: #395bb4;
  transition: 0.2sx;
}

.profile {
  margin-right: 40px;
}

.profile > a {
  font-weight: 600;
  display: inline;
  color: #395bb4;
  cursor: pointer;
}

.profile-content {
  visibility: hidden;
  position: fixed;
  margin-top: 100px;
  margin-left: 1465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 94px;
  background: #ffffff;
  border: 0.6px solid #cfcfcf;
  border-radius: 10px;
  z-index: 2;
}

.profile-content > a {
  margin: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #7b7b7b;
}

.name {
  font-size: 20px;
}
.sla {
  font-size: 16px;
}

.alarmicon {
  width: 32px;
  height: 32px;
}

/* FORMWRAP */
.formwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 200px;
  margin-right: 600px;
  width: 472px;
  outline: 0;
  border: 0;
  font-size: 60px;
  font-weight: 600;
}

.title::placeholder {
  color: #000;
}

.select {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.select1 > p {
  margin-right: 380px;
  font-weight: 600;
  color: #484848;
  font-size: 18px;
}

.select1 > .dropbtn {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 260px;
  height: 55px;
  border-radius: 10px;
  text-align: start;
  font-weight: 600;
  font-size: 18px;
  padding-left: 20px;
  cursor: pointer;
  color: #8e8e8e;
}

.dropicon {
  width: 25px;
  height: 25px;
  margin-left: 168px;
}

.drop-content {
  position: absolute;
  display: none;
  margin-top: 12px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 260px;
  height: 306px;
  font-size: 16px;
  font-weight: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.drop-content > a {
  color: #5b5b5b;
  width: 92.5%;
  height: 100%;
  padding-top: 15px;
  padding-left: 20px;
}

.drop-content > a:hover {
  background-color: #f0f0f0;
}

.drop-content > .web {
  border-radius: 10px 10px 0px 0px;
}

.drop-content > .etc {
  border-radius: 0px 0px 10px 10px;
}

.teamnameinput {
  outline: 0;
  border: 0;
  width: 450px;
  height: 55px;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #8e8e8e;
}

.teamnameinput::placeholder {
  color: #8e8e8e;
}

.addfilebtn {
  margin-top: 20px;
  margin-right: 960px;
  width: 120px;
  background-color: #f6f6f6;
  height: 40px;
  color: #8e8e8e;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.af {
  display: none;
}
.contentta {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}

#contenttextarea {
  outline: none;
  border: none;
  margin-right: 76px;
  width: 935px;
  height: 420px;
  resize: none;
  background-color: #f6f6f6;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #8e8e8e;
}

#contenttextarea::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #8e8e8e;
}

.buttons {
  margin-left: 652px;
}

.buttons > button {
  width: 130px;
  height: 55px;
  font-weight: 600;
  font-size: 22px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 22px;
  cursor: pointer;
  color: #fff;
}

.save {
  background-color: #395bb4;
}

.cancle {
  background-color: #c7cfe3;
}
