#html,
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  outline: 0;
  border: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 1rem;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo {
  padding-left: 30px;
  margin: 10px;
  margin-right: 1300px;
  width: 141px;
  height: 32px;
}

.writeBtn {
  transition: 0.2s;
  margin-right: 30px;
  width: 120px;
  height: 45px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background-color: #395bb4;
  color: #fff;
  cursor: pointer;
}

.writeBtn:hover {
  background-color: white;
  border: 1px solid #395bb4;
  color: #395bb4;
  transition: 0.2sx;
}

.profile > h6 {
  display: inline;
  color: #395bb4;
}

.name {
  font-size: 20px;
}
.sla {
  font-size: 16px;
}

/* FORMWRAP */
.formwrap {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 100px;
  margin-right: 600px;
  width: 472px;
  outline: 0;
  border: 0;
  font-size: 60px;
  font-weight: 600;
}

.title::placeholder {
  color: #000;
}

.select {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.select1 > p {
  margin-right: 380px;
  font-weight: 600;
  color: #484848;
  font-size: 18px;
}

.select1 > .dropbtn {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 260px;
  height: 55px;
  border-radius: 10px;
  text-align: start;
  font-weight: 600;
  font-size: 18px;
  padding-left: 20px;
  cursor: pointer;
  color: #8e8e8e;
}

.dropicon {
  width: 25px;
  height: 25px;
  margin-left: 168px;
}

.drop-content {
  display: none;
  margin-top: 12px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 260px;
  height: 306px;
  font-size: 16px;
  font-weight: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-content > a {
  color: #5b5b5b;
  margin-bottom: 15px;
  margin-left: 20px;
}
